html, body, #root, #rootContainer {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

body::-webkit-scrollbar { width: 0 !important }




/* Topbar: dropdown menu */
.topbar-dropdown-menu-default {
  background-color: #fff;
}
.topbar-dropdown-menu-default > div > ul > li {
  color: #636363;
  background-color: #fff;
  cursor: pointer;
}
.topbar-dropdown-menu-default
  > div
  > ul
  > li.ant-select-dropdown-menu-item-selected {
  background-color: #fff;
}
.topbar-dropdown-menu-default
  > div
  > ul
  > li.ant-select-dropdown-menu-item-active {
  background-color: #fff;
  font-size: 14px;

  color: #636363;
}

.ant-notification-notice-message {
  text-transform: lowercase;
}

.ant-notification-notice-message:first-letter {
  text-transform: uppercase;
}

.ant-drawer-content-wrapper {
  height: 100%;
}

.ant-drawer-body  {
  padding: 16px 0;
}

.ant-drawer-content-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ffffff transparent;
}

.ant-drawer.ant-drawer-open .ant-drawer-mask {
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  input[type],
  input[readonly],
  textarea {
    font-size: 16px !important;
  }
}
  
  
.place-card {
color: black}

.place-card-large {
  display: none !important;
}